/* app css stylesheet */

.cabeca_pra_baixo {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.bordinha {
	border-radius: 10px;
	border: solid;
	padding: 5px;
	border-width: 1px;
}

.thumb40 {
	max-width: 40px;
	max-height: 40px;
}

.selected {
	background-color: #dff0d8;
}

.content_center{
	width: 70%;
	margin: 5% auto;
}

.style_nav{
	background-color:#d9534f;
}

.style_nav navbar-brand{
	background-color:#d9534f;
}

.margin-btn{
	margin-top:25px;
}

.margin-grid{
	margin-top:20px;
}

.margin-campos{
	margin-top:10px;
}

.central{
	text-align: center;
	position: center;
	font-size: 18px;
}

.quebra-linha{
	word-wrap: break-word;
}
