<div class="col-md-2">
  <ul class="nav nav-sidebar">
    <li><a style="color:#000;" href="#/dadoscadastrais">Dados cadastrais</a></li>
    <li><a style="color:#000;" href="#/noticias">Feed de notícias</a></li>
    <li><a style="color:#000;" href="#/usuarios">Consulta de Usuários</a></li>
    <li><a style="color:#000;" href="#/pets">Consulta de Pets</a></li>
    <li><a style="color:#000;" href="#/parceiros">Parceiros</a></li>
  </ul>
</div>
