<nav class="navbar navbar-default style_nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/home" style="color:#fff;" >{{empresa.nome}}</a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left">
          <button class="btn style_nav" ng-click="logout()" style="border-color: #fff; border-solid:1px; color:#fff;">
            <span class="glyphicon glyphicon-log-out"></span>Sair
          </button>
      </form>
      </ul>
    </div>
  </div>
</nav>
