<div action-navibar></div>

<div class="container-fluid">
  <div class="row">

      <div ng-include src="'views/includes/menulateral.html'"></div>
      <div class="col-md-9 main">
        <div class="col-md-8 main">
          <form name="formformdata" class="form" ng-submit="submitForm()" method="post">
            <div  id="divMensagem" ng-if="mensagem.length" class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{mensagem}}
            </div>
              <h1>Dados cadastrais</h1>
              <div class="row placeholders">
                <input type="hidden" ng-model="formdata.id"/>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Tipo de Instituição</label>
                </div>

                <div class="form-group row">
                  <label class="radio-inline">
                    <input type="radio" value="1" name="optradio" ng-model="formdata.tipoIntituicao" required>Centro de Doação Humano
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="2" name="optradio" ng-model="formdata.tipoIntituicao" required>Centro de Doação Animal
                  </label>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Nome:</label>
                  <div class="col-10">
                    <input class="form-control" type="text" maxlength="100" ng-model="formdata.nome" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Nome fantasia</label>
                  <div class="col-10">
                    <input class="form-control" type="text" maxlength="100" ng-model="formdata.nomeFantasia" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">CNPJ</label>
                  <div class="col-10">
                    <input id="cnpj" class="form-control" type="text" ng-model="formdata.cnpj"  ui-mask="99.999.999/9999-99" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Senha</label>
                  <div class="col-10">
                    <input class="form-control" type="password" maxlength="10" ng-model="formdata.senha" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Sobre</label>
                  <div class="col-10">
                    <textarea class="form-control" type="text" maxlength="250" ng-model="formdata.sobre" required></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Endereço</label>
                </div>

                  <div class="form-group row">
                    <div class="form-inline">
                        <div class="input-group col-sm-9">
                          <label>Rua</label>
                            <input class="form-control" type="text" ng-model="formdata.endereco.rua" maxlength="50" required>
                        </div>

                        <div class="input-group col-sm-2">
                          <label>N°</label>
                          <input class="form-control" type="text"  ng-model="formdata.endereco.numero" onkeyup="somenteNumeros(this);"  maxlength="10" required>
                        </div>

                    </div>
                  </div>

                 <div class="form-group row">
                  <label class="col-2 col-form-label">Complemento</label>
                  <div class="col-9">
                    <input class="form-control" maxlength="150"  ng-model="formdata.endereco.complemento" type="text">
                  </div>
                 </div>


                <div class="form-group row">
                  <div class="form-inline">
                    <div class="input-group">
                      <label class="col-form-label">Bairro</label>
                      <input class="form-control" maxlength="50" type="text"  ng-model="formdata.endereco.bairro" required>
                    </div>

                    <div class="input-group">
                      <label for="example-number-input" class="col-form-label">UF</label>
                      <select class="form-control" id="uf" ng-model="estado" ng-change="getCidade(estado)" required>
                        <option ng-repeat="uf in listUf" value="{{uf}}">{{uf.sigla}}</option>
                      </select>
                    </div>

                  </div>
               </div>

               <div class="form-group row">
                   <label class="col-2 col-form-label">Cidade</label>
                     <div class="col-9">
                       <select class="form-control" ng-model="formdata.endereco.cidade.id" id="cidade" required>
                           <option ng-repeat="cidade in listCidade" value="{{cidade.id}}">{{cidade.nome}}</option>
                       </select>
                    </div>
              </div>

                  <div class="form-group row">
                    <label class="col-2 col-form-label">Contatos</label>
                  </div>

                  <div class="form-group row">
                    <div class="form-inline">
                        <div class="input-group col-sm-2">
                          <label>DDD</label>
                          <input class="form-control" ng-model="formdata.telefone.ddd" type="text" onkeyup="somenteNumeros(this);" maxlength="3" required>
                        </div>
                        <div class="input-group">
                          <label>Número</label>
                          <input class="form-control" ng-model="formdata.telefone.numero" type="text" onkeyup="somenteNumeros(this);" maxlength="9" required>
                        </div>
                    </div>
                </div>

               <div class="form-group row">
                  <label class="col-2 col-form-label">Email</label>
                  <div class="col-10">
                    <input class="form-control" ng-model="formdata.email" type="email" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Site</label>
                  <div class="col-10">
                    <input class="form-control" ng-model="formdata.site" type="text">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Horário de atendimento</label>
                </div>

                  <div class="form-inline">
                    <div class="input-group bootstrap-timepicker timepicker">
                      <input id="timepicker1" name="timepicker1" type="text" class="form-control input-small" ng-model="formdata.atendimento.horarioInicial" required>
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                   </div>
                      á
                    <div class="input-group bootstrap-timepicker timepicker">
                      <input id="timepicker2" name="timepicker2s" type="text" class="form-control input-small" ng-model="formdata.atendimento.horarioFinal" required>
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                   </div>

                  </div>

                  <div class="form-group row">
                    <br><br>
                    <label class="col-2 col-form-label">Dias da semana</label>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.segunda" name="OPCAO" value="op1"> Segunda
                    </div>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.terca" name="OPCAO" value="op2"> Terça
                    </div>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.quarta" name="OPCAO" value="op3"> Quarta
                    </div>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.quinta" name="OPCAO" value="op3"> Quinta
                    </div>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.sexta" name="OPCAO" value="op3"> Sexta
                    </div>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.sabado" name="OPCAO" value="op3"> Sábado
                    </div>
                    <div class="checkbox">
                      <input TYPE="checkbox" ng-model="formdata.atendimento.domingo" name="OPCAO" value="op3"> Domingo
                    </div>
                </div>

              <div class="form-group row">
                <button type="submit" class="btn btn-danger">Salvar</button>

                <button type="button" ng-click="voltar()" class="btn btn-danger">Voltar</button>
              </div>

            </div>
      </form>
      </div>
    </div>
    </div>
  </div>
