<!-- <div ng-include="'views/includes/navbar.html'"></div> -->

 <div action-navibar></div>

<div class="container-fluid">
  <div class="row">

   <div ng-include src="'views/includes/menulateral.html'"></div>
      <div class="col-md-9">
        <h1>Save a life</h1>
      </div>

      <div class="col-md-9">
        <img src="imagens/login.png" width="400" height="250">

         <p class="margin-campos">
           O aplicativo foi pensado e desenvolvido com o intuito de facilitar o aumento das doações de sangue tanto para seres humanos quanto para animais (gatos e cachorros). Sabe-se da urgência e da insuficiência que os hemonúcleos e clinicas veterinárias passam e que a doação é necessária, portanto, esse aplicativo tem como objetivo proporcionar, da melhor e mais simples forma possível, o aumento dessas doações através da interação com seus usuários. Além de ajudá-los a conhecer e a entender sobre algumas informações básicas dessas doações.
         </p>
         <p class="margin-campos">
            Cada tipo de doador terá um formulário próprio com suas devidas restrições e requisitos básicos, além de cada um ter de completar seus níveis separadamente e receber suas conquistas exclusivas e cupons para adquirir seus produtos em lojas específicas.
         </p>
      </div>
    </div>
  </div>
