<div class="container content_center">
  <div class="row">
   <div class="col-md-12">
       <div class="col-md-7">
       <img src="imagens/login.png" height="100%" width="100%">
       </div>
       <div class="col-md-4">

         <form class="form" ng-submit="submitForm()" method="post" novalidater>
             <div  id="divMensagem" ng-if="mensagem.length" class="alert alert-danger">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
               {{mensagem}}
             </div>
             <h3 class="form-signin-heading">Acesso ao sistema</h3>
             <p>
               Ajude centenas de pessoas e animais da sua região. Agende a sua doação, e contribua para tornar o nosso mundo melhor.
             </P>

             <input type="email" id="inputUsuario" class="form-control margin-campos" ng-model="usuario.email" placeholder="Usuário" required>
             <input type="password" id="inputSenha" class="form-control margin-campos" ng-model="usuario.senha" placeholder="Senha" required>

             <div class="checkbox">
               <label>
                 <input type="checkbox" value="lembrar"> Lembrar senha
               </label>
             </div>

            <a href="#/primeiroacesso"><label>Primeiro acesso</label></a>

             <button class="btn btn-lg btn-danger btn-block" type="submit">Acessar</button>
           </form>

       </div>

     </div>
  </div>
</div>
