<div action-navibar></div>

<div class="container-fluid">
  <div class="row">

   <div ng-include src="'views/includes/menulateral.html'"></div>

         <div class="col-md-9 main">
            <div class="col-md-8 main">
              <div  id="divMensagem" ng-if="mensagem.length" class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{mensagem}}
              </div>
              <form class="form" ng-submit="submitForm()" method="post">
                  <h1>Notícias</h1>

                  <div class="row placeholders">
                    <div class="form-group row" ng-if="instituicao.tipoIntituicao == 1">
                      <label for="example-text-input" class="col-2 col-form-label">Tipo Sanguíneo:</label>
                      <select class="form-control" id="example-search-input"  ng-model="formdata.tipoSanguineo">
                         <option value="selecione"></option>
                         <option value="O+">O+</option>
                         <option value="O-">O-</option>
                         <option value="A+">A+</option>
                         <option value="A-">A-</option>
                         <option value="B+">B+</option>
                         <option value="B-">B-</option>
                         <option value="AB+">AB+</option>
                         <option value="AB-">AB-</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label" ng-model="formdata.descricao">Descrição</label>
                      <div class="col-10">
                        <input class="form-control" type="search" id="example-search-input" ng-model="formdata.descricao" maxlength="250" required>
                      </div>
                    </div>
                <button type="submit" class="btn btn-danger">Adicionar notícia</button>
          </div>
          </form>
          <div class="row placeholders margin-grid quebra-linha">
              <label for="example-text-input" class="col-2 col-form-label">Ultimas publicações</label>
              <div class="row margin-grid" ng-repeat="noticia in listNoticias">
                <div class="col-sm-10">
                  <label>Publicado em: {{noticia.dataFormatada}}</label>
                  <input type="hidden" id="hide" ng-model="noticia.cod"/>
                  <p ng-if="instituicao.tipoIntituicao == 1">Tipo Sanguíneo: {{noticia.tipoSanguineo}}</p>
                  <p>{{noticia.descricao}}</p>
                  <button class="btn btn-default" ng-click="editar(noticia)">Editar</button>
                  <button class="btn btn-default" ng-click="excluir(noticia)">Excluir</button>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
