<div action-navibar></div>

<div class="container-fluid">
  <div class="row">

   <div ng-include src="'views/includes/menulateral.html'"></div>

          <div class="col-md-9 main">
            <div class="col-md-8 main">
              <form name="formformdata" class="form" ng-submit="submitForm()" method="post">
                <div  id="divMensagem" ng-if="mensagem.length" class="alert alert-success">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{mensagem}}
                </div>
                  <h1>Parceiros</h1>
                  <div class="row placeholders">
                    <input type="hidden" ng-model="formdata.id"/>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Nome:</label>
                      <div class="col-10">
                        <input class="form-control" type="text" maxlength="100" ng-model="formdata.nome" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">CNPJ</label>
                      <div class="col-10">
                        <input id="cnpj" class="form-control" type="text" ng-model="formdata.cnpj"  ui-mask="99.999.999/9999-99" required>
                      </div>
                    </div>

                     <div class="form-group row">
                       <label class="col-2 col-form-label">Contatos</label>
                     </div>

                     <div class="form-group row">
                        <label class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                          <input class="form-control" ng-model="formdata.email" type="email">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-2 col-form-label">Site</label>
                        <div class="col-10">
                          <input class="form-control" ng-model="formdata.site" type="text">
                        </div>
                      </div>

                     <div class="form-group row">
                       <div class="form-inline">
                           <div class="input-group col-sm-2">
                             <label>DDD</label>
                             <input class="form-control" ng-model="formdata.telefone.ddd" type="text" onkeyup="somenteNumeros(this);" maxlength="3" required>
                           </div>
                           <div class="input-group">
                             <label>Número</label>
                             <input class="form-control" ng-model="formdata.telefone.numero" type="text" onkeyup="somenteNumeros(this);" maxlength="9" required>
                           </div>
                       </div>
                   </div>

                     <button type="submit" class="btn btn-danger">Adicionar</button>
                     <button type="button" class="btn btn-danger" ng-click="getParceirosFilter(formdata)">Pesquisar</button>
                </form>

              <div class="row placeholders margin-grid">
                 <div class="row margin-grid" ng-repeat="parceiro in listParceiro">
                    <input type="hidden" id="hide" ng-model="parceiro.id"/>

                    <div class="col-sm-12">
                      <h6>Nome: {{parceiro.nome}}</h6>
                      <h6>CNPJ: {{parceiro.cnpj}}</h6>
                      <h6>Email: {{parceiro.email}}</h6>
                      <h6>Site: {{parceiro.site}}</h6>
                      <h6>Telefone: ({{parceiro.telefone.ddd}}) {{parceiro.telefone.numero}}</h6>
                    </div>
                    <button class="btn btn-default" ng-click="editar(parceiro)">Editar</button>
                    <button class="btn btn-default" ng-click="excluir(parceiro)">Excluir</button>

                  </div>
              </div>
        </div>
      </div>
    </div>
