<div action-navibar></div> 

<div class="container-fluid">
  <div class="row">

   <div ng-include src="'views/includes/menulateral.html'"></div>

         <div class="col-md-9 main">
            <div class="col-md-8 main">
              <form class="form">
                  <h1>Pets</h1>

                  <div class="row placeholders">
                    <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label">Nome</label>
                      <div class="col-10">
                        <input class="form-control" type="search" id="example-search-input">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label">Sexo</label>
                      <div class="col-4">
                        <select class="form-control" id="example-search-input">
                           <option value="selecione"></option>
                           <option value="F">Fêmea</option>
                           <option value="M">Macho</option>
                        </select>
                      </div>
                    </div>
                <button type="button" class="btn btn-danger">Pesquisar</button>
          </div>
          </form>
          <div class="row placeholders margin-grid">

              <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/pets/" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                  <label>July</label>
                  <p>Espécie: Cachorro</p>
                  <p>Sexo: Fêmea</p>
                  <p>Idade: 8</p>
                  <p>Nome dono: Leticia Malipense</p>
                  <p>Tel dono: 996552211</p>
                  <p>Email dono: leticia.malipense@gmail.com</p>
                </div>
              </div>

              <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/pets/" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                    <label>Nina</label>
                    <p>Espécie: Gato</p>
                    <p>Sexo: Fêmea</p>
                    <p>Idade: 3</p>
                    <p>Nome dono: Isabella Mandetta</p>
                    <p>Tel dono: 998854471</p>
                    <p>Email: isabella.mandetta.@gmail.com</p>
                </div>
              </div>

               <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/pets/" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                    <label>Mio</label>
                    <p>Espécie: Gato</p>
                    <p>Sexo: Macho</p>
                    <p>Idade: 4</p>
                    <p>Nome dono: Flavia Borelli</p>
                    <p>Tel dono: 996322504</p>
                    <p>Email dono: flavia.borelli.@gmail.com</p>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
