<div action-navibar></div> 

<div class="container-fluid">
  <div class="row">

   <div ng-include src="'views/includes/menulateral.html'"></div>

         <div class="col-md-9 main">
           <div class="col-md-9">
             <h1>Save a life</h1>
           </div>

           <div class="col-md-9">
             <img src="imagens/login.png" width="400" height="250">

              <p class="margin-campos">
               ************ ************ ************* **** ***********  ************* ******* **************  ******* ********** ******* ********* * ************ ******** * ********** ********** ******* *********** ********** ********** ********** *********** ******** *  ************** ********** ********** ************ ********* ************ ********* ************* ************** ************** *********** ********** ************ ***** * *********** ********** ************** ************ *********** ************* ************* ************* ************ ************ ******** ************** *********** ************* ************ ************ ************ ************ ************ *********** ********* ********* ************* ******* ************** ***** *********** ******** *********** ********** *********** ***** *** ********* **********************  ********** ********** ***** ********** ******** **** *** ************** ********* ********** *******  *************** ******
               ********* ********** ************ ********* ************ ********* ************* ************** ************** *********** ********** ************ ***** * *********** ********** ************** ************ *********** ************* ************* ************* ************ ************ ******** ************** *********** ************* ************ ************ ************ ************ ************ *********** ********* ********* ************* ******* ************** ***** *********** ******** *********** ********** *********** ***** *** ********* **********************  ********** ********** ***** ********** ******** **** *** ************** ********* ********** *******  *************** ******
             </p>
           </div>

        </div>
      </div>
    </div>
