<div action-navibar></div> 

<div class="container-fluid">
  <div class="row">

   <div ng-include src="'views/includes/menulateral.html'"></div>

         <div class="col-md-9 main">
            <div class="col-md-8 main">
              <form class="form">
                  <h1>Usuários</h1>

                  <div class="row placeholders">
                    <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label">Nome</label>
                      <div class="col-10">
                        <input class="form-control" type="search" id="example-search-input">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label">Tipo sanguineo</label>
                      <select class="form-control" id="example-search-input">
                         <option value="selecione"></option>
                         <option value="1">O+</option>
                         <option value="2">O-</option>
                         <option value="3">A+</option>
                         <option value="4">A-</option>
                         <option value="5">B+</option>
                         <option value="6">B-</option>
                         <option value="7">AB+</option>
                         <option value="8">AB-</option>
                      </select>
                    </div>
                    <div class="form-group row">
                      <label for="example-search-input" class="col-2 col-form-label">Sexo</label>
                      <div class="col-4">
                        <select class="form-control" id="example-search-input">
                           <option value="selecione"></option>
                           <option value="F">Feminino</option>
                           <option value="F">Masculino</option>
                        </select>
                      </div>
                    </div>
                <button type="button" class="btn btn-danger">Pesquisar</button>
          </div>
          </form>
          <div class="row placeholders margin-grid">

              <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/usuarios/leticia.jpg" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                  <label>Leticia Malipense</label>
                  <p>Tel: 996552211</p>
                  <p>Email: leticia.malipense@gmail.com</p>
                  <p>Idade: 21</p>
                  <p>Tipo sanguíneo: O+</p>
                </div>
              </div>

              <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/usuarios/isabela.jpg" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                    <label>Isabella Mandetta</label>
                    <p>Tel: 998854471</p>
                    <p>Email: isabella.mandetta.@gmail.com</p>
                    <p>Idade: 21</p>
                    <p>Tipo sanguíneo: O-</p>
                </div>
              </div>

               <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/usuarios/flavia.jpg" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                    <label>Flavia Borelli</label>
                    <p>Tel: 996322504</p>
                    <p>Email: flavia.borelli.@gmail.com</p>
                    <p>Idade: 21</p>
                    <p>Tipo sanguíneo: A+</p>
                </div>
              </div>

               <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/usuarios/ewerthon.jpg" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                    <label>Ewerthon Silva</label>
                    <p>Tel: 994427752</p>
                    <p>Email: ewerthon.silva.@gmail.com</p>
                    <p>Idade: 26</p>
                    <p>Tipo sanguíneo: A-</p>
                </div>
              </div>

                <div class="row margin-grid">
                <div class="col-sm-3">
                  <img src="imagens/usuarios/claudio.jpg" height="130px" width="130px">
                </div>
                <div class="col-sm-9">
                    <label>Claudio Cipriano</label>
                    <p>Tel: 993325121</p>
                    <p>Email: claudio.cipriano.@gmail.com</p>
                    <p>Idade: 21</p>
                    <p>Tipo sanguíneo: AB+</p>
                </div>
              </div>


          </div>
        </div>
      </div>
    </div>
